body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f4f4;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header **/
header {
    background: #35424a;
    color: #fff;
    padding: 20px 0;
    border-bottom: #ffffff 4px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s;
    border-radius: 4px;
}

header li {
    display: inline;
    margin-left: 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    font-size: 2.5rem;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 30px;
}

header .highlight,
header .current a {
    color: #ffffff;
}

header a:hover {
    background: #2c3e50;
    color: #fff;
}

/* Showcase */
#showcase {
    min-height: 300px;
    background: url('../img/showcase.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#showcase h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 1.3rem;
}

/* Footer */
footer {
    background: #35424a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    border-top: #f1f1f1 4px solid;
    font-size: 1rem;
}
.button_1{
  height:38px;
  background: #037cc7;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}


